openapi: 3.2.0
info:
  version: 2.0.0
  title: Storefront Digital Downloads API
  description: 'Storefront API is a modern REST API based on the [JSON API spec](https://jsonapi.org/) which provides you with all the necessary endpoints to build amazing user interfaces either in JavaScript frameworks or native mobile libraries.


    Import to [Postman](https://raw.githubusercontent.com/spree/spree/main/docs/api-reference/storefront.yaml)'
  contact:
    name: Vendo Connect Inc.
    url: https://spreecommerce.org
    email: hello@spreecommerce.org
  license:
    name: BSD-3-Clause
    url: https://github.com/spree/spree/blob/main/LICENSE.md
servers:
- url: https://demo.spreecommerce.org
  description: demo
- url: http://localhost:3000
  description: localhost
tags:
- name: Digital Downloads
paths:
  /api/v2/storefront/digitals/{token}:
    parameters:
    - schema:
        type: string
        example: 4WaA5vjMbnivskav2rMPGKzt
      name: token
      in: path
      required: true
      description: Use the token from the digital link.
    get:
      summary: Download a Digital Asset
      tags:
      - Digital Downloads
      responses:
        '200':
          description: 200 Success - Returns the digital asset.
          content:
            image/jpeg:
              schema:
                type: object
                format: binary
            image/gif:
              schema:
                type: object
                format: binary
            image/svg+xml:
              schema:
                type: object
                format: binary
            image/bmp:
              schema:
                type: object
                format: binary
            image/tiff:
              schema:
                type: object
                format: binary
            image/png:
              schema:
                type: object
                format: binary
            video/mpeg:
              schema:
                type: object
                format: binary
            application/gzip:
              schema:
                type: object
                format: binary
            application/zip:
              schema:
                type: object
                format: binary
            application/pdf:
              schema:
                type: object
                format: binary
            font/woff:
              schema:
                type: object
                format: binary
            font/woff2:
              schema:
                type: object
                format: binary
            font/otf:
              schema:
                type: object
                format: binary
            font/ttf:
              schema:
                type: object
                format: binary
            text/plain:
              schema:
                type: object
                format: binary
        '403':
          $ref: '#/components/responses/403Forbidden'
      operationId: get-digitals
      description: 'This endpoint allows you to download a digital item using the unique digital_link token.


        The digital_link token value can be found by including `line_items.digital_links` in a completed order lookup.


        Use the **Retrieve an Order Status** endpoint found under the Order Status tab, or the **Retrieve an Order** endpoint found under the Account / Orders tab to perform a completed order lookup.


        Depending on the store that the item was purchased in, downloads may be restricted to a set number of days since the purchase was made. Additionally, the number of times a download link can be used may be restricted.


        If you are not authorized to perform the download due to the download limit restrictions mentioned above, a 403 response will be returned.'
components:
  responses:
    403Forbidden:
      description: 403 Forbidden - You are not authorized to access this page.
      content:
        application/vnd.api+json:
          schema:
            properties:
              error:
                type: string
                example: You are not authorized to access this page.
                default: You are not authorized to access this page.
          examples:
            403 Example:
              value:
                error: You are not authorized to access this page.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'User token to authorize Cart and Checkout requests.


        It is required to associate Cart with the User.'
    orderToken:
      type: apiKey
      in: header
      description: 'Order token to authorize Cart and Checkout requests.


        [How to obtain X-Spree-Order-Token](../authentication#for-guest-users)'
      name: X-Spree-Order-Token
